:root {
    --mainEng-font: "SharpGrotesk-Black25";;
    /*메인영어 폰트  */
    --mainKor-font: "Noto Sans KR";
    /*메인한글 폰트  */
    --mainNum-font: "SharpGrotesk-Black25";;
    /*메인넘버 폰트  */

    /* 메인 bg 칼라 */
    --mainBg-color:#fff;

    /* 서브bg 100 */
    --subBg100: #c2e7ff;
    /* 서브bg 200 */
    --subBg200: #7fcfffff;
    /* 서브bg 300 */
    --subBg300: #5ab3f0ff;
    /* 서브bg 400 */
    --subBg400: #3998d3ff;
    /* 서브bg 500 */
    --subBg500: #047db7ff;


    --white: #fff;
    --black: #000000;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #686868;
    --black400: #e0e0e0;

    font-family: var(--mainEng-font), var(--mainKor-font), var(--mainNum-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
    /* 폰트를 부드럽게 렌더링하기 위한 속성 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;

}

@media screen and(max-width:768px) {
    :root {
        font-size: 14px;

    }


}

body {
    color: var(--black);
    background-color: var(--mainBg-color);
}