.scroll-1 {
    width: 160px;
    position: absolute;
    right: 12%;
    top: 10%;
    animation: blink-effect 1s step-end infinite;
}

.scroll-2 {
    width: 180px;
    position: absolute;
    right: 20%;
    top: 9%;
    transform: rotate(16deg);
    animation: blink-effect 1.3s step-end infinite;
}


/* ------------------------- */

#intro {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(18, 91, 238), rgb(255, 255, 255), rgb(255, 255, 255));
}


.intro_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.title-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.gradient {
    background-image: linear-gradient(180deg, #ff613a, #fd9074, #ffcca3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro_text {
    width: 100%;
}

.intro_text .text {
    justify-content: center;
    margin: auto;
    z-index: 100;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    line-height: 13vw;
    text-align: center;
    letter-spacing: 10px;
    position: relative;
    transition: .35s;
    cursor: pointer;
}

.text h1 {
    font-size: 13vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--black);
}

.intro_text .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    filter: grayscale(100%);
    opacity: 0;
    background: url(../../img/avatar2.png);
}

.intro_text:hover .text {
    opacity: 0;
    z-index: -1;
}

.intro_text:hover .img {
    opacity: 1;
    filter: grayscale(0);
}

.tcroll {
    opacity: 0;
    font-family: "Shadows Into Light";
    font-size: 1.5em;
}



/* ----------------------- */
.flower {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;

}

/* ----------float animation-----*/

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.floating {
    animation-delay: 1s;
    animation: float 2s infinite;
}

.rotate4 {
    animation-delay: 1s;
    animation: rotate 5s infinite;
}

@keyframes rotate {

    100% {
        transform: rotate(360deg)
    }
}


/* ------------------ */

#career {
    width: 100%;
    height: 140vh;
    padding: 0 80px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid var(--black);

}

#career h2 {
    font-size: 27px;
    font-family: "Provica";
    padding: 25px 0;
    height: 15vh;
    line-height: 12vh;
}

.career_box1 {
    align-items: center;
    font-size: 65px;
    line-height: 120px;
    width: 90vw;
    height: 80vh;
    transition: .35s;
    /* display: none; */
}

.career_wrap {
    width: 100%;
}

.career_wrap.on .career_box2 {
    display: block;
}

.career_box2 {
    top: 110px;
    position: absolute;
    align-items: center;
    font-size: 65px;
    line-height: 160px;
    font-family: var(--mainKor-font);
    font-weight: 900;
    width: 90vw;
    height: 90vh;
    transition: .35s;
    display: none;
    background: var(--white);
}


.career_text {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.career_text .p1 {
    font-family: "Montaga"
}

.career_text .p2 {
    font-family: "Press Start 2P"
}

.career_text .p3 {
    font-family: "Racing"
}

.career_text .p4 {
    font-family: "Prosto"
}

.career_text .p5 {
    font-family: "Provica"
}

.career_text .p6 {
    font-family: "Reenie Beanie"
}

.career_text .p7 {
    font-family: "Montaga"
}

.career_text .p8 {
    font-family: "Sonsie One"
}

.career_text .p9 {
    font-family: "Ribeye"
}

.career_text .p10 {
    font-family: "SharpGrotesk-Black25";
}

/* ------------------------- */

.career_img {
    position: absolute;
    cursor: pointer;
}

.berry {
    width: 100px;
    transform: translate(476%, -465%);
    perspective: 1000px;
}

.camera {
    width: 150px;
    transform: translate(864%, -362%);
    perspective: 1000px;

}



.pearl {
    width: 150px;
    transform: translate(848%, -428%);
    perspective: 1000px;
}

.drop {
    width: 150px;
    transform: translate(680%, -557%) rotate(8deg);
    perspective: 1000px;
    z-index: 555;
}

.rotate {
    transition: transform 0.5s;
}

.rotate:hover {
    transform: rotateY(180deg);
}

.rotate2 {
    transition: transform 0.5s;
}

.rotate2:hover {
    transform: rotate(360deg);
}

.rotate3 {
    transition: transform 0.5s;
}

.rotate3:hover {
    transform: rotate(780deg);
}

.camera img {
    transition: transform 0.5s;
}

.camera:hover img {
    transform: skewX(-40deg);
}

.music {
    width: 130px;
    transform: translate(160%, -212%);
    perspective: 1000px;
    position: relative;
    display: inline-block;
}


.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.music:hover .hover-image {
    opacity: 1;
}

.me-photo {
    position: absolute;
    width: 300px;
    right: 100px;
    top: -15%;
    z-index: 998;
}

/* ------------------------ */
.Total {
    width: 90vw;
    display: block;
    height: 140px;

    border-radius: 100px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border: 1px solid var(--black);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(18, 91, 238));
}

.Total h3 {
    font-size: 70px;
    color: var(--black);
    font-family: "Noto Sans KR";
    font-weight: 900;

}

/* ----------------------------- */
.sect5 {
    width: 100%;
    height: 300vh;
    position: relative;
    /* overflow: hidden; */
    border-top: 1px solid var(--black);
}

.sect5 em {
    position: absolute;
    width: 80vw;
    top: 9%;
    left: 5%;
    font-size: 5em;
    font-family: "SharpGrotesk-Black25";
    letter-spacing: 1;
    color: rgb(18, 91, 238);
    -webkit-text-stroke: 1px black;
    line-height: 1.2;
}

.grain {
    overflow: hidden;
    transform: translateZ(0);
}

.grain::before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
}

@-webkit-keyframes noise {
    to {
        transform: translate3d(-7rem, 0, 0)
    }
}

@keyframes noise {
    0% {
        transform: translate3d(0, 9rem, 0)
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0)
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0)
    }

    30% {
        transform: translate3d(9rem, -9rem, 0)
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0)
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0)
    }

    60% {
        transform: translate3d(2rem, 6rem, 0)
    }

    70% {
        transform: translate3d(7rem, -8rem, 0)
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0)
    }

    90% {
        transform: translate3d(6rem, -5rem, 0)
    }

    to {
        transform: translate3d(-7rem, 0, 0)
    }
}



.video-img {
    background-image: url(http://sunmi.dothome.co.kr/video.gif);
    background-size: cover;
    background-position: 0 193%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
}

.contect {
    width: 50vw;
    height: 15%;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255),
            rgb(18, 91, 238));
    position: absolute;
    top: 30%;
    right: 5%;
    border: 1px solid var(--black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.lasttitle1 {
    display: inline-block;
    width: 100%;
    font-size: 3em;
    text-align: center;
    font-family: "Provica";
}

.lasttitle2 {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.icon {
    display: flex;
    font-size: 1.3em;
    font-family: "Montaga";
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    z-index: 99;
}

.icon li {
    width: 150px;
    display: block;
    z-index: 999;
}

.icon img {
    width: 20px;
    margin-top: 5px;
}

.coment {
    position: absolute;
    display: inline;
    font-size: 1.5em;
    padding: 20px;
    top: 48%;
    left: 40%;
    background: var(--white);
    border: 1px solid var(--black);
}

.me-box {
    position: absolute;
    width: 90%;
    bottom: 6%;
    left: 5%;
    display: flex;
    gap: 30px;

}

.me-box img {
    width: 50%;
    border: 1px solid var(--black);
    z-index: 1;
}

/* ------------------------- */

@media screen and (max-width:768px) {
    .marquee em {
        font-size: 2.5em;
    }

    /* --------------------- */
    #intro {
        width: 100%;
    }

    .intro_text {
        display: flex;
        align-items: center;
        height: 80vh;
    }

    .text h1 {
        align-items: center;
        text-align: center;
        margin: auto;
        font-size: 16vw;
        line-height: 16vw;
    }

    .intro_text {
        width: 400px;
        height: 400px;

    }

    .scroll-2 {
        display: none;
    }

    /* ----------------- career_text*/

    #career {
        height: 100vh;
    }

    .career_wrap {
        width: 100%;
        height: 50vh;
    }

    #career h2 {
        text-align: center;
    }

    .career_box1 {
        width: 130%;
        margin-left: -14%;
        font-size: 29px;
        line-height: 1.4;
    }

    .career_box2 {
        margin-left: -12%;
        width: 90%;
        font-size: 34px;
        line-height: 1.4;
        height: 62vh;
    }

    .berry {
        width: 60px;
        transform: translate(305%, -591%);
        perspective: 1000px;
    }

    .camera {
        width: 90px;
        transform: translate(304%, -1173%);
        perspective: 1000px;

    }

    .music {
        width: 100px;
        transform: translate(260%, -153%);
        perspective: 1000px;
    }

    .pearl {
        width: 60px;
        transform: translate(506%, -581%);
        perspective: 1000px;
    }

    .drop {
        display: none;
    }

    .me-photo {
        width: 176px;
        transform: translate(45%, 8%);
        z-index: 1;
    }

    .Total {
        height: 100px;
        line-height: 90px;
        margin-left: -55px;
    }

    .Total h3 {
        font-size: 2.5em;
    }

    /* ----------------- */
    .sect5 {
        height: 140vh;
    }

    .video-img {
        height: 100%;
    }

    .sect5 em {
        width: 80%;
        top: 5%;
        font-size: 2.4em;
        z-index: 99;
    }

    .contect {
        width: 90vw;
        height: 26%;
        top: 35%;
        font-size: 4em;
        text-wrap: wrap;
    }

    .lasttitle1 {

        font-size: .5em;

    }

    .lasttitle2 {

        font-size: 0.3em;
    }

    .icon {
        font-size: 0.3em;
    }

    .icon img {
        width: 10%;
    }

    .coment {
        height: 70px;
        top: 60%;
    }

    .me-box {
        bottom: 5%;
        gap: 10px;
    }

    .me-box img {
        width: 48%;
    }
}