#intro {
    height: 100vh;
}

.intro-top {
    height: 100vh;
    text-align: center;
    margin-top: 10%;
    width: 100%;
}

.intro-top .img {
    background-image: url(../../img/intro.gif);
    height: 29vw;
    width: 56vw;
    /* border: 1px solid; */
    margin: auto;
    background-size: cover;

}

.intro_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.intro_title {
    font-size: 9vw;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -.5vw;
    letter-spacing: -.03vw;
}


.intro_text {
    width: 100%;
    height: 50vh;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.intro_text .text {
    font-size: 5vw;
    line-height: 1.7;
    font-weight: 900;
    text-align: center;
    position: relative;
    z-index: 100;
    transition: .35s;
    cursor: pointer;
    /* color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black); */
}

.intro_text .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 614px;
    height: 614px;
    overflow: hidden;
    filter: grayscale(100%);
    opacity: 0;
    background: url(../../img/avatar4.png);
}

.intro_text:hover .text {
    opacity: 0;
    z-index: -1;
}

.intro_text:hover .img {
    opacity: 1;
    filter: grayscale(0);
}



/* ------------------------- */
@media screen and (max-width:768px) {
    .intro_lines.bottom .line {
        display: block;
    }

    .intro_text .text {
        font-size: 24px;
    }
}