.i_am {
    position: relative;
    height: 70vh;
    align-items: center;
    justify-content: center;

}

ul.flow_list {
    width: 100%;
    padding: 2vw;
    border: 1px solid #000;
}

.splide {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.splide__slide {
    width: 20vw;
    height: 20vw;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 2vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}


.splide__slide:hover{
    background: rgba(0,0,0, .8);
}

