.i_am {
    position: relative;
    height: 70vh;
    align-items: center;
    justify-content: center;

}

ul.flow_list {
    width: 100%;
    padding: 2vw;
    border: 1px solid #000;
}

.splide {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.splide__slide {
    width: 20vw;
    height: 20vw;
    /* text-align: center;
    font-family: "Noto Sans KR";
    font-size: 2vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.splide__slide img {
    width: 30%;
}

.splide__slide:hover {
    z-index: 99;
    background:rgb(18, 91, 238);
    mix-blend-mode: overlay;
}



@media screen and (max-width:768px){

    .splide__slide{
        height: 40vw;
        width: 40vw;
    }
.i_am{
    height: 50vw;
}

}