.i_am {
    position: relative;
    height: 70vh;
    align-items: center;
    justify-content: center;

}

ul.flow_list {
    width: 100%;
    padding: 2vw;
    border: 1px solid #000;
}

.splide {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.splide__slide {
    width: 20vw;
    height: 20vw;
    /* text-align: center;
    font-family: "Noto Sans KR";
    font-size: 2vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.splide__slide img {
    width: 30%;
}

.splide__slide:hover {
    z-index: 99;
    background: rgba(0, 0, 0, .8);
}

/* ---------------------------index */
/* 
.splide2 {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.splide_list2 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.splide_list2 li {
  
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Noto Sans KR";
    text-transform: uppercase;
}


#noline {
    background-image: url(/2024web-portfolio/src/img/main.png);
    border: transparent;
    background: #f53636;
    width: 50px;
    height: 50px;
    background-size: cover;

} */