#work {
    /* width: 100%;
    overflow: hidden; 
    height: 100vh; */
    position: relative;
    background-image: linear-gradient(to bottom, rgb(18, 91, 238), rgb(255, 255, 255), rgb(255, 255, 255));
}



.work_inner {
    padding: 16px;
}

.work_title {
    position: absolute;
    display: block;
    width: 100%;
    top: 28px;
    right: -68%;
    z-index: 99;
    font-size: 2em;
    font-family: "Provica";
    text-transform: uppercase;
    color: var(--black);
    z-index: 999;
}

/* ------------------ */

.work_wrap {
    display: flex;
    margin-top: 127px;
    margin-left: 60px;
    width: 4400px;
    font-family: "Noto Sans KR";
}

.box {
    display: none
}

.work_item {
    width: 480px;
    height: 80vh;
    position: relative;
    align-items: center;
    display: flex;
    margin-right: 60px;
    text-align: center;
}

.work_item .img {
    display: block;
    transition: .35s;
    margin: -15px auto;
    width: 360px;
    text-align: center;

}

.work_item:hover .img {
    margin-top: 0px;

}

.work_item .img img {
    filter: saturate(100%);
    transition: .35s;
}


.work_item:hover img {
    filter: saturate(0%);
}

.work_item .title {
    position: absolute;
    font-size: 1.3rem;
    left: 0;
    top: 0;
    text-align: left;
    padding: .8rem 0;
    font-weight: 700;
    color: var(--black100);

}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.work_item:hover .title {
    animation: blink-effect .15s step-end infinite;
}


/* -----------------------box */
.work_item:hover .box {
    display: flex;
}

.box {
    background: rgba(0, 0, 0, .85);
    position: absolute;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 36px;
    color: var(--white);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Noto Sans KR";
    z-index: 999;
    line-height: 1.5;
}

.work_item .miniT {
    font-size: 1rem;
    color: var(--white);
    margin-top: .5rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* .work_item .miniT li {
    border: 1px solid var(--white);
    padding: .3rem 1.3rem;
    border-radius: 50px;
} */


.work_item .site {
    display: block;
    text-align: center;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    background: var(--white);
    color: var(--black100);
    border-radius: 60px;
    font-weight: bold;
}

.work_item .miniB {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

a .site {
    margin-top: 20px;
}

.detail {
    width: 80%;
    font-size: 1.2em;
}

.work_item.w1 {}

.work_item.w1 img {
    width: 130%;
    margin-left: -55px;
}

.work_item.w2 img {
    width: 75%;
    margin-top: 60px;

}

.work_item.w3 {
    /* background: var(--white);
    border-radius: 500px;
    box-shadow: 0px 0px 10px #c6c6c6; */
}

.work_item.w3 img {
    width: 130%;
    /* margin-top: 60px; */
}

.nomal {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    /* mix-blend-mode: multiply; */
}

.work_item.w4 {
    position: relative;
}

.work_item.w4 .ap {
    top: 25%;
    left: 5%;
    position: absolute;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;

}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.work_item.w5 img {
    border-radius: 20px;

}

.work_item.w6 {}

.work_item.w7 img {
    width: 130%;
    margin-top: 200px;
    margin-left: -55px;
}

.work_item.w8 {}

.work_item.w9 {
    background: linear-gradient(silver, #000);
    border-radius: 200px 200px 60px 60px;
}

.work_item .w10 {}

.work_item .w11 {
    position: relative;
}

.w11>.img {
    border-radius: 900px;
    border: 1px solid #000;
    overflow: hidden;
}

.imgab {
    position: absolute;
    top: 43%;
    left: 5%;
    width: 90%;
    mix-blend-mode: overlay;
}

.imgac {
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 40%;
    font-size: 20px;
    font-family: var(--mainEng-font);
    top: 20%;
    left: 70%;
    border: 1px solid #000;
    background: #fff;
    border-radius: 100px;
}

.work_item .w12 {}




@media screen and (max-width:768px) {
    .work_title {
        font-size: 22px;
        height: auto;
        top: 34px;
        width: 100%;
        left: 52%;

    }

    .work_item {
        width: 300px;
        padding: 40px 30px;
        /* height: auto; */

    }

}